<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">         
		<link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
		<title>Current weather for ${cityName}.</title>
	</head>
	<body>
	    <h1><span th:text="${city_name}" /></small></h1> 
	    <h2>Current Weather Conditions</h2> 
		<h2><span th:text="${date}" /></small></h2>
		<div class="container-fluid">
			<dl class="dl-horizontal">
			
			  <dt>Description</dt>
			  <dd><span th:text="${weather_description}" /></dd>
			  
			  <dt>Temperature (C)</dt>
			  <dd><span th:text="${temperature_celsius}" /></dd>
			  
			  <dt>Temperature (F)</dt>
			  <dd><span th:text="${temperature_fahrenheit}" /></dd>	
	
	          <dt>Sunrise</dt>
			  <dd> <span th:text="${sunrise}" /> <span th:text="${time_zone}" /></dd>	
			  
	          <dt>Sunset</dt>
			  <dd><span th:text="${sunset}" /> <span th:text="${time_zone}" /></dd>			  		  
			  	  
			</dl>	 
	    </div> 	
	</body>

</html>
